* {
    margin: 0;
    padding: 0;
}

body {

    margin: 0;
    padding: 0;
    background: #0b0c2a;
    color: white;
    
}

span {

    color: red;
}

:root {

    --navbar-height: 80px;
}

.navbar{

    width: 100vw;
    
    
}

.navbar nav {
    /* border: 2px solid rgb(98, 38, 38); */
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--navbar-height);
    /* background: grey; */
    

}

.logo {
    font-size: 1.5rem;

}

.navbar ul {
    display: flex;
}

.navbar ul li {

    list-style: none;
    padding: 0px 32px;

}

.navbar a {

    text-decoration: none;
    color: white;
    padding: 2px 12px;
    border-radius: 12px;
}

.navbar a:hover {

    background-color: white;
    color: red;
}

.geybar {

    background: rgb(68, 67, 67);
    height: 40px;
}

.front {

    width: 100%;
    height: 1000px;
    padding: 20px;
    margin-top: 12px;
}

.mainpic {
    /* background: url('https://images.unsplash.com/photo-1665042099439-39d93c1117e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2056&q=80') no-repeat center center/cover;
    filter: brightness(0.8); */
    /* border: 2px solid green; */
    height: 500px;
    width: 1145px;
    margin: 40px 54px;
    display: flex;
    align-items: end;

}

.mainpic::before {

    content: "";
    background: url('https://images.unsplash.com/photo-1665042099439-39d93c1117e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2056&q=80') no-repeat center center/cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.6);

}

.con {

    /* border: 2px solid white; */
    width: 390px;
    height: 300px;
    position: absolute;
    left: 70px;


}

#p1 {

    color: red;
    background: white;
    width: 70px;
    padding: 4px;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

#p2 {

    color: white;
    margin-bottom: 2vw;
}

#h1 {

    color: white;
    margin-bottom: 1vw;
}

#btn1 {

    color: white;
    background-color: red;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

#btn1:hover {

    background-color: darkred;
}

.list {

    /* border: 2px solid white; */
    width: 88%;
    height: 900px;
    display: flex;
    position: relative;
    left: 4vw;
    flex-wrap: wrap;
    margin-bottom: 2vw;
    z-index: -1;
}

.box1 {
    /* border: 2px solid yellow; */
    width: 200px;
    height: 400px;
    margin: 2vw;
}

#image {

    width: 100%;
    height: 70%;
}

img {
    width: 100%;
    height: 100%;

}

.he {
    margin-left: 4vw;
    padding: 0vw 1vw;
    border-left: 0.5rem solid red;
     /* font-family: 'Baloo Bhaijaan 2', cursive; */
     display: flex;
     justify-content: space-between;
     width: 710px;
     align-items: center;
}

.he a{

    text-decoration: none;
    color: white;
    cursor: pointer;
}

.txt1{

    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 1vw 0vw 0vw 0vw;
}

.txt1 h3{

    line-height: 1.5;
}

.pa1{

    display: flex;
    
}

.pa1 p{

    padding: 0px 20px;
    border-radius: 12px;
    background-color: grey;
    color: white;
    font-size: 11px;
    margin: 0vw 0.2vw 0.8vw 0.2vw;
}

.list2 {

    /* border: 2px solid white; */
    width: 88%;
    height: 900px;
    display: flex;
    position: relative;
    left: 4vw;
    flex-wrap: wrap;
    z-index: -1;
}

.box2 {
    /* border: 2px solid yellow; */
    width: 200px;
    height: 400px;
    margin: 2vw;
}

.txt2{

    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 1vw 0vw 0vw 0vw;
}

.txt2 h3{

    line-height: 1.5;
}

.pa2{

    display: flex;
    
}

.pa2 p{

    padding: 0px 20px;
    border-radius: 12px;
    background-color: grey;
    color: white;
    font-size: 11px;
    margin: 0vw 0.2vw 0.8vw 0.2vw;
}

.he2 {
    margin-left: 4vw;
    padding: 0vw 1vw;
    border-left: 0.5rem solid red;
     /* font-family: 'Baloo Bhaijaan 2', cursive; */
}

.content{

    width: 99%;
    height: 2310px;
    /* border: 2px solid yellow; */
    display: flex;
   

}

.leftside{

    width: 880px;
    height: 2300px;
    /* border: 2px solid white; */
}

.rightside{

    width: 335px;
    /* border: 2px solid white; */
    height: 2300px;
    margin-left: 1vw;
    z-index: -1;
}

.box{

    width: 85%;
    height: 200px;
    /* border: 2px solid rgb(174, 41, 41); */
    margin: 2vw;
   filter: brightness(0.8);
}

.box h3{

    position: relative;
    bottom: 10vw;
    filter: brightness(1);
    background-color: transparent yellow;
}

.ft{

    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    background: rgb(21, 21, 36);
}

.ft li{

    list-style: none;

}

.ft a{

    text-decoration: none;
    color: rgb(175, 168, 168);
}

.rght{

    width: 240px;
}

.rght span{

color: blue;
}

.ft ul{

    display: flex;
}

.ft ul li{

    padding: 0vw 1vw;
}

